<mat-card>
    <h2>Add customer</h2>
    <form #customerForm = "ngForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>name</mat-label>
                <input matInput [(ngModel)] = name name = name required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>psychometric</mat-label>
                <input matInput [(ngModel)] = psychometric name = psychometric required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>mathematics</mat-label>
                <input matInput [(ngModel)] = mathematics name = mathematics required>
              </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
              <mat-label>Paid?</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="choise">
                <mat-option *ngFor="let choise of choises" [value]="choise.value">
                  {{choise.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf ="predict">
            <mat-form-field appearance="fill">
              <mat-label>result</mat-label>
              <mat-select [(ngModel)]="predict" name="predict">
                <mat-option [value]="predict">
                  {{predict}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    
        <div>
            <button *ngIf ="!predict" mat-raised-button color="primary" (click)= "sendData()">Predict</button>
            <div *ngIf ="predict">
            <button  mat-raised-button color="primary" (click)="add()">save</button>
            <button  mat-raised-button (click)= "cancelled()">cancel</button>
            </div>
        </div>
    </form>
</mat-card>

