<p *ngIf = "!(authService.getUser() | async)">Please Login</p>

<table mat-table [dataSource]="students" class="mat-elevation-z8"
*ngIf = "(authService.getUser() | async)">

  <!-- userName Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> userName </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{element.userName}} </td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{element.name}} </td>
  </ng-container>

  <!-- psychometric Column -->
  <ng-container matColumnDef="psychometric">
    <th mat-header-cell *matHeaderCellDef> psychometric </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{element.psychometric}} </td>
  </ng-container>

  <!-- mathematics Column -->
  <ng-container matColumnDef="mathematics">
    <th mat-header-cell *matHeaderCellDef> mathematics </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{element.mathematics}} </td>
  </ng-container>

  <!-- predict Column -->
  <ng-container matColumnDef="predict">
    <th mat-header-cell *matHeaderCellDef> predict </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{element.predict}} </td>
  </ng-container>

  <!-- delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete </th>
    <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button color = "warn" (click) = "delete(element.id)">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

